        body {
            margin: 0;
            padding: 0
        }
        
        header {
            height: 70px;
            width: 100%;
            background-color: violet;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
        }
        
        .sub {
            height: 150px;
            width: 100%;
            background-color: rgb(243, 233, 243);
            margin-top: 70px;
        }
        
        .listesE {
            margin-left: 50px;
        }
        
        .tables {
            td,
            th,
            caption {
                border: 1px solid black;
            }
            table {
                border-collapse: collapse;
            }
            .button {
                text-align: center;
            }
        }
        
        form {
            margin-left: 50px;
        }